body {font-family: "Roboto", sans-serif;
    font-weight: "400";
    color: #434455;
    background-color: #fff;
}
.nav-text{font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;

  /* line-height: 24px; */
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #2e2f42;}

.main-page{
  width: 1440px;
  height: 600px;
  background: #2e2f42;}

.page-title{font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 56px;

  /* line-height: 60px; */
  line-height: 107%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  }

  .button-service{ font-family: "Roboto", sans-serif;
    background:#4d5ae5;
              cursor: pointer;}
 .button-service.link:hover,
 .button-service.link:focus{ color:#404bbf;}



  .title-section{font-family: "Roboto", sans-serif;
    font-weight: 700;
    font-size: 36px;
    text-align: center;
    color: #2e2f42;
   background-color:#F4F4FD;
   line-height: 1.11;
letter-spacing: 0.02em;
text-transform: capitalize;
}

   .title-desc{
    font-weight: 500;
    font-size: 20px;
   color: #2e2f42;
   line-height: 1.2;
   letter-spacing: 0.02em;}

   .desc-text{   
    font-weight: 400;
    font-size: 16px;
    color:#434455;
    line-height: 1.5;
    letter-spacing: 0.02em;}

.member-team{ 
        font-weight: 500;
        font-size: 20px;
        text-align: center;
        color: #2e2f42;} 

.desc-member-team{ 
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;}
        
.title-description-port{
    font-weight: 500;
        font-size: 20px;
      color: #2e2f42;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-transform: capitalize;
}
.descr-text{
    font-weight: 400;
        font-size: 16px;
        color: #434455;
        line-height: 1.2;
        letter-spacing: 0.02em;
}

 .page-end{
    width: 1440px;
    height: 312px;
   background: #2e2f42;}
   
.end-text {
       font-family: "Roboto", sans-serif;
       font-weight: 400;
       font-size: 16px;
       line-height: 150%;
       letter-spacing: 0.02em;
       color: #f4f4fd;
     }